<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>org.musecommunity.macgadget</string>
<key>CFBundleName</key><string>Muse Mac Gadget</string>
<key>CFBundleExecutable</key><string>MuseMacPeripheral</string>
<key>CFBundleVersion</key><string>1</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>NSBluetoothAlwaysUsageDescription</key><string>Pair this Mac display gadget with your Muse phone app.</string>
<key>NSBluetoothPeripheralUsageDescription</key><string>Advertise this Mac as a Muse gadget during pairing.</string>
<key>LSUIElement</key><true/>
</dict></plist>
